#hero {
  height: 40vh;

  display: flex;
  padding: 0;
  margin: 0 0 0 0;
}

#hero img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

#left-hero-button {
  left: 0;
  color: white;
  align-self: center;
}

#right-hero-button {
  right: 0;
  color: white;
  align-self: center;
}

#sponsors-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#sponsors-images img {
  align-self: center;
  min-width: 100px;
  width: 25%;
  max-width: 200px;
  padding: 1em;
}
